<h2>Merci, pour votre inscription !</h2>

<p>Pour utiliser votre compte veuillez confirmer celui-ci en cliquant sur le lien suivant : 
    <a href="http://localhost:3080/user/confirm?t={{ token }}&i={{ id }}">Confirmer</a>.
</p>