{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="home">
    <h1>Hello </h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum iure quos veniam. Repudiandae magni perspiciatis commodi, esse assumenda totam voluptatem earum, sit error nihil ut ducimus officiis facere repellendus nam. Atque assumenda id corporis blanditiis ea deserunt tenetur, dolore iusto laudantium vel, saepe vero quisquam deleniti nostrum eos enim aspernatur. At magnam soluta eveniet sint, harum officiis debitis ab quo minima quibusdam natus animi amet officia est error quos qui saepe. Libero molestiae magnam recusandae! Culpa et necessitatibus repudiandae adipisci officia magni aliquam asperiores cupiditate illo rem est similique cumque nisi quia ullam dolorum quibusdam aliquid ratione earum animi, placeat nemo fugiat, cum pariatur. Expedita laboriosam explicabo voluptatibus obcaecati a dolor, provident blanditiis culpa tenetur reprehenderit quo ea consequatur iusto inventore at? Cumque sunt placeat maiores, rerum minima modi asperiores velit iste pariatur unde error natus, earum atque quod omnis ea et dolore quia accusantium. Culpa, libero quaerat odit corrupti quos quae necessitatibus officiis doloribus, id autem, nesciunt voluptatum. Perspiciatis, quas pariatur! Aliquam mollitia voluptates fuga dolorem odit earum quam neque beatae quia magnam! Pariatur exercitationem, vel beatae ea placeat unde! Accusamus quo, quam, error laudantium vero voluptates ut natus non tempora tempore deserunt dolor necessitatibus, nostrum aliquid eaque sint.</p>
</div>

<div class="home-img text-center m-4">
    <img src="https://picsum.photos/800/300" alt="random image" class="rounded shadow-sm img-fluid">
</div>

<div class="home-foot">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi facilis pariatur eveniet atque dolores, fugit quos excepturi iure. Fugiat dolorum ducimus dolor quasi itaque in voluptates alias temporibus exercitationem perferendis quae ipsum ullam eius odit adipisci unde id fuga, accusamus, repudiandae eaque nihil? Voluptates impedit quo fuga ipsam nihil maiores eos, fugiat sed rerum exercitationem quaerat repellendus ea alias velit laborum. Officia alias ipsum veritatis delectus pariatur officiis odio a provident, consectetur inventore ipsa laudantium repudiandae aliquam tenetur sit, quia maiores corrupti accusamus culpa nulla libero veniam eius? Dolores autem laudantium quidem excepturi ab ea labore neque sed aliquid!</p>
</div>
{% endblock %}
