{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="breadcrumb-container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home')}}">Accueil</a></li>
        <li class="breadcrumb-item active">{{ title }}</li>
    </ol>
    <div class="d-flex justify-content-between">
        <h1>{{ title }}</h1>
    </div>
</div>

<div class="mt-5">
    Page de paiement provisoire
</div>

{% endblock %}

{% block javascripts %}
{% endblock %}